.headerContainer {
    background: #fff;
}

.navBar {
    height: 5rem;
}

.logo {
    width: 15rem;
}

.navAndUserBlock {
    padding-right: 15px;
}

.navLinks {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
}

.navLinks li {
    margin: 0;
    padding: 0;
}

.navLinks li a {
    height: 5rem;
    padding: 0.25rem 1.5rem 0 1.5rem;
    border-bottom: 0.25rem solid transparent;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.navLinks li a,
.navLinks li a:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.navLinks li[data-tab="data"] a:hover,
.headerContainer[data-active-tab="data"] .navLinks li[data-tab="data"] a {
    border-bottom-color: #0fa996;
}

.navLinks li[data-tab="functions"] a:hover,
.headerContainer[data-active-tab="functions"]
    .navLinks
    li[data-tab="functions"]
    a {
    border-bottom-color: #e1a96a;
}

.navLinks li[data-tab="virtual-labs"] a:hover,
.headerContainer[data-active-tab="virtual-labs"]
    .navLinks
    li[data-tab="virtual-labs"]
    a {
    border-bottom-color: #5dc2e7;
}

.subBar {
    color: #fff;
    padding: 1rem 0;
}

.subBar a {
    color: inherit;
}

.subBar a + a {
    margin-left: 2.5rem;
}

.subBarLinkActive {
    font-weight: bold;
}

.headerContainer[data-active-tab="data"] .subBar {
    background-color: #0fa996;
}

.headerContainer[data-active-tab="functions"] .subBar {
    background-color: #e1a96a;
}

.headerContainer[data-active-tab="virtual-labs"] .subBar {
    background-color: #5dc2e7;
}
